---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-images-pvc
  namespace: photos
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs-client
  resources:
    requests:
      storage: 1Ti
