---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager-config
  namespace: flux-system
spec:
  interval: 15m
  dependsOn:
    - name: cert-manager-controller
  path: ./clusters/prod/platform/cert-manager/cfg
  prune: true
  timeout: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
  healthChecks:
    - apiVersion: apps/v1
      kind: Deployment
      name: platform-cert-manager
      namespace: platform
