---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dragonflydb
  namespace: flux-system
spec:
  interval: 5m0s
  chart:
    spec:
      chart: dragonfly
      version: "1.4.15"
      sourceRef:
        kind: HelmRepository
        name: dragonfly-repo
  targetNamespace: dragonfly
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      storageClass: "longhorn"
