---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  values:
    grafana:
      persistence:
        enabled: true
        storageClassName: longhorn
        accessModes:
          - "ReadWriteOnce"
        size: 10Gi
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: lets-encrypt
        hosts:
          - grafana.home.voldemota.xyz
        tls:
          - secretName: grafana-tls
            hosts:
              - grafana.home.voldemota.xyz
    resources:
      requests:
        memory: "1.5Gi"
        cpu: "250m"
      limits:
        memory: "2Gi"
        cpu: "500m"
