---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  values:
    grafana:
      persistence:
        enabled: true
        storageClassName: longhorn
        accessModes:
          - "ReadWriteOnce"
        size: 10Gi
