---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 1h
  values:
    grafana:
      persistence:
        enabled: true
        storageClassName: longhorn
        accessModes:
          - "ReadWriteOnce"
        size: 10Gi
      ingress:
        enabled: false
    resources:
      requests:
        memory: "1.5Gi"
        cpu: "250m"
      limits:
        memory: "2Gi"
        cpu: "500m"
