---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  creationTimestamp: null
  name: cert-manager-token
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgBfOV/wQemLkVbxH54KptaOM9FUGktVhLrVWBI7/638WrZlTBnpEWWyA7/dkIRonvmbz8v41sTIuFNtwPuaggN+9RdYPFVPmiZlmu47CtgmlXfGHhFiPt6AndgJx8I3kHU8w+3s0Zqpuk+KXbZo3bRHq5+BRyzqf3Rd+jCCIHiJzy2QOqVoSPrgtLZs1JwkIHyBWcHs0Ay2ocrGGpR0K0WQj6SwM6zKxaNIf/nVL1UsnaDQ1Y6+iJ0DXmUDxmmu6l0f9TI/+o78fqjDNRIhGlxrgjiIT16N2aaSWeBFkdMPK3NjC1JRVc7UPVKL14wEqpVIdc/9mE5CCEwomYX8YDfArDqJePe/pAcxwXbtuD4Rs2xI9W0ePV4o9MMppW4dINjtUScITiN7QqufJyNW0ovaG647UWlKd6KQJnUcKbpfcHQfnRbg6Kak9ot48Ke7FeKmUsYH4p5v7AIzxRhkReF8C2Kn21cblJqwU1v8eQMGbvssqAc5oZMHCDc+EU7XSlSjtvVvgxIBDebPHyJ4FbbMz0uLmFK4b2ruNzvuQruGFo8tDzKveobXE4IdQk7ZQRUJWIUpNGaWfJe/oc3z423VR5iN3cDc5G1Rs1lEVHZOigt2ymY2b921miBg5tv2m0ZYEKYX7WirDK5GhQlDabYyD4VJuqKXFoqtOWEXD4lkTzv3C9gZ4e2fwCtRnQIWH+3IFwlx4/rspIfDIYQ478qIEBmvN15mPIk+wVPfa/A=
  template:
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      creationTimestamp: null
      name: cert-manager-token
      namespace: cert-manager
    type: Opaque
