---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  creationTimestamp: null
  name: cert-manager-token
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgA8VqyjVm/wWIH7tnOhJG0in7OjPONQlyLWpTnQT31adzOiPgTmYKI1tffzzaLqvwXokZNXgk3n0hJxF+PGLrj0uDQEHYCKV8mbnyHxujKOmoVjGv/Ubf+GCahb5GkcZiqPgYqLegvGQG+1wGIoGfn4US24KhtTBuLeDv3NEW+Q8vKcSPQXcQiOqzTgEu0AyoB6r9o2doyJHXnL/rmX2zK0tAsLk8eF/w0MCwK6Et6DAUrV2mqrDQiWJVdJgeCBCkU48uvPsNTVhw6WXmuqcj7zIbGm+TPTcYj0Cl9Xcp1KwRI5NR20p8JY2Dr4Cg1Qj/Y7HUEI5pEB3bgr16TC0ooygfs1XtYFx8Sp4EPqXlCA8ZN1KmdaQ9JkE7al1un82kKo9xCihEiYchJdgROG9NFl3z0MHJ+xprk3qhNAsf3F562QXgSAPPDb9A1ATEX2+DtuqDfh+9JYjpkeNiZmUlXEnHA9aaC9Y+KnX2VVr/1p/R4jyvKUeuWJU+ngD3KWLfAMExhEuSmztN2vG3AtSCBVljUaVGofh9vrfphc2Qj/+topHoIjIdlBeJzMHRuTXKUBDGIvGLr0gzpgJ7/PmQ6eRquIvpiNzG3CSIymxRBof46fwP/EOCaZ9UE6L6NSO0sCoeCwc1ClYrGF6IzPIbI6e9AUlP9ZX2rGimr9/nV2yGRRa5rcJq8i0tlxBhlFrm30UO7lh/DucEJvuALMgbZbzkgfLLQJlidn7cyXXP4=
  template:
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      creationTimestamp: null
      name: cert-manager-token
      namespace: cert-manager
    type: Opaque
